// 로그인
.full-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .button-group {
        * ~ * {margin-left: 10px;}  
    }
}
.btnBack {
    position: absolute;
    left: 0;
    top: 10px;
}