// 최상위 app 레이아웃
#app {
    width: 375px;
    margin: 0 auto;
    border: 1px solid #eee;

    header {
        .header-name-button {
            padding: 3px 10px;
            border-radius: 20px;
            border: 1px solid #000;
        }

        .header-tab {
            .v-tab {
                padding: 0;
                a {
                    width: 100%;
                    line-height: 48px;
                }
            }
        }
    }



}

