// 최상위 app 레이아웃
#app {
    width: 375px;
    margin: 0 auto;
    border: 1px solid #eee;

    header {
        position: fixed;
        top: 0;
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: 375px;

        .header-name-button {
            padding: 3px 10px;
            border-radius: 20px;
            border: 1px solid #000;
        }

        .header-tab {
            .v-tab {
                padding: 0;
                a {
                    width: 100%;
                    line-height: 48px;
                }
            }
        }
        & + .v-main {
            padding: 104px 0 56px !important;
        }
    }


    .v-bottom-navigation {
        position: fixed;
        bottom: 0;
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: 375px;
    }


}

